auto-save-list
el-get
others/.mc-lists.el
others/auto-save-list/*
others/projectile/
others/newsticker/
others/cache/*
others/eshell/
others/recentf
.edbi-ds-history
.sx
tramp
url
elpa
request/
smex-items
.org-id-locations
network-security.data
